/* Valores generales */
* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background: #1403ff6c;
}

/* CONTENEDOR PRINCIPAL */
.contenedor-main {
    /* width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    font-size: 6rem;
    color: #491063b1;
}

.msj {
    display: inline-block;
    font-family: 'Tangerine';
    font-size: 3rem;
    margin: 1rem;
    text-shadow: 4px 4px 4px #777777;
}

@media screen and (max-widht: 300px), (max-height: 300px) {
    html {
        font-size: 10px;
    }
}